
.rubric{
    text-align: center;
    margin-bottom: 4%;
}
.tile_product{
    display: inline-block;
    position: relative;
    height: 450px;
    text-align: center;
    border: 1px solid gray;
    border-radius: 7px;
    background: #efefef;
    margin-left: 6%;
    margin-bottom: 6%;
}
.line_product{
    display: inline-block;
    position: relative;
    height: 250px;
    text-align: center;
    border: 1px solid gray;
    border-radius: 7px;
    background: #efefef;
    margin-bottom: 2%;
    text-align: justify;
}
.description_item{
    text-align: justify;
}
.sideBar{
    height: 100%;
}
.input-price{
    width: 35%;
}
.hidden-block {
    position: absolute;
    margin-top: 7px;
    right: -160px;
    display: none;
    width: 500px;
    height: 300px;
    background-color: white;
    z-index: 1;
    border: 1px solid gray;
    overflow-y: scroll
}
.block {
    position: relative;
}
.block:hover .hidden-block {
    display: block;
}
.basket-item{
    margin-top: 3%;
}

